// breakpoints
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;

// colors
$white: #ffffff;
$black: #000000;

$primary-color: #1665D8;
$primary-color-hover: #1e56a8;
$primary-color-active: #0f366e;

$primary-text-color: #172B4D;
$secondary-text-color: #9FA9BE;
